<h1>Welcome to Adventure!</h1>

<p> Want to leave it all behind and venture across the U.S.?</p>
<p>Here you'll find tips, tricks and ideas to make your next trip an <strong>ADVENTURE!</strong></p>

<%= link_to 'Email Us', about_path(color: "blue"), class: "btn btn-primary" %>

<% link_to activities_path %>
