<h1>Contact</h1>
<p>Want to plan a special trip but need ideas?  From rustic camping to luxury locales, out Travel Gurus have you covered.
Contact us at 555-867-5309 or visit us at Facebook, Twitter and Instagram.</p>
<%= link_to 'Email Us', about_path(color: "blue"), class: "btn btn-primary" %>