// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//testing to see if this works...
h1  {font-family: 'Coiny', cursive;
     font-size: 65px;
     color: #331a00;
}

p    {font-family: 'Coiny', cursive;
     font-size: 24px;
     color: #331a00;
}